.buckethatspage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.buckethatspage-buckethatspage {
  width: 100%;
  height: 2382px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.buckethatspage-tshirts {
  top: 107px;
  left: 1370px;
  width: 1300px;
  height: 1198px;
  position: absolute;
}
.buckethatspage-text {
  top: 1366px;
  left: 13px;
  color: rgba(255, 65, 65, 1);
  width: 413px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.buckethatspage-text02 {
  top: 1427px;
  left: 86px;
  color: rgba(0, 0, 0, 1);
  width: 195px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.buckethatspage-text04 {
  top: 1604px;
  left: 116px;
  color: rgba(0, 0, 0, 1);
  width: 139px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.buckethatspage-text06 {
  top: 1505px;
  left: 13px;
  color: rgba(0, 0, 0, 1);
  width: 385px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.buckethatspage-text08 {
  top: 1550px;
  left: 101px;
  color: rgba(255, 65, 65, 1);
  width: 117px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.buckethatspage-text10 {
  top: 1550px;
  left: 242px;
  color: rgba(255, 65, 65, 1);
  width: 116px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.buckethatspage-text12 {
  top: 1550px;
  left: 383px;
  color: rgba(255, 65, 65, 1);
  width: 117px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.buckethatspage-text14 {
  top: 1550px;
  left: 524px;
  color: rgba(255, 65, 65, 1);
  width: 117px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.buckethatspage-text16 {
  top: 1770px;
  left: 17px;
  color: rgba(0, 0, 0, 1);
  width: 331px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.buckethatspage-rectangle19 {
  top: 1668px;
  left: 146px;
  width: 92px;
  height: 62px;
  position: absolute;
  border-color: rgba(255, 65, 65, 1);
  border-style: solid;
  border-width: 1px;
}
.buckethatspage-rectangle22 {
  top: 1828px;
  left: 145px;
  width: 437px;
  height: 62px;
  position: absolute;
  border-color: rgba(255, 65, 65, 1);
  border-style: solid;
  border-width: 1px;
}
.buckethatspage-rectangle20 {
  top: 1668px;
  left: 311px;
  width: 96px;
  height: 62px;
  position: absolute;
  border-color: rgba(255, 65, 65, 1);
  border-style: solid;
  border-width: 1px;
}
.buckethatspage-rectangle21 {
  top: 1668px;
  left: 477px;
  width: 92px;
  height: 62px;
  position: absolute;
  border-color: rgba(255, 65, 65, 1);
  border-style: solid;
  border-width: 1px;
}
.buckethatspage-text18 {
  top: 1677px;
  left: 113px;
  color: rgba(0, 0, 0, 1);
  width: 158px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.buckethatspage-text19 {
  top: 1680px;
  left: 280px;
  color: rgba(0, 0, 0, 1);
  width: 159px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.buckethatspage-text20 {
  top: 1840px;
  left: 139px;
  color: rgba(0, 0, 0, 1);
  width: 158px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.buckethatspage-text21 {
  top: 1840px;
  left: 281px;
  color: rgba(0, 0, 0, 1);
  width: 160px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.buckethatspage-text22 {
  top: 1840px;
  left: 424px;
  color: rgba(0, 0, 0, 1);
  width: 158px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.buckethatspage-text23 {
  top: 1678px;
  left: 445px;
  color: rgba(0, 0, 0, 1);
  width: 156px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.buckethatspage-rectangle23 {
  top: 2034px;
  left: 145px;
  width: 1148px;
  height: 94px;
  position: absolute;
  border-color: rgba(255, 65, 65, 1);
  border-style: solid;
  border-width: 1px;
}
.buckethatspage-rectangle24 {
  top: 2158px;
  left: 147px;
  width: 1146px;
  height: 95px;
  position: absolute;
  border-color: rgba(255, 65, 65, 1);
  border-style: solid;
  border-width: 1px;
}
.buckethatspage-text24 {
  top: 2055px;
  left: 503px;
  color: rgba(255, 65, 65, 1);
  width: 434px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.buckethatspage-text26 {
  top: 2180px;
  left: 503px;
  color: rgba(255, 65, 65, 1);
  width: 434px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: normal;
}
.buckethatspage-vector {
  top: 42px;
  left: 31px;
  width: 9px;
  height: 18px;
  position: absolute;
}
